body
{
    width: 100vw;
}
#title
{
    background-image: url(./title\ background.jpg);
    padding-bottom: 250px;
    color:#FFFFFF;
    background-color: #94c3cc;
}
section
{
    width: 100vw;
}
#titletext
{
    color:#FFFFFF;
}
svg
{
    margin-left:30%;
}
#carouseltext
{
    text-align: center;
}
#meow
{
    border-radius:60%;
    height : 200px;
    margin-top: 5%;
    margin-bottom: 5%;
}
#projectshowcase
{
    width: 100vw;
    background-color: #FFFFFF;
}
#aboutme
{
    width: 100vw;
}
#footer
{
    background-image: url(/title\ background.jpg);
    height: 30%;
    padding-top: 300px;
}
#move1
{
    position: absolute;
    left: 5%;
}
#move2
{
    position: absolute;
    left: 32.5%;
}
#move3
{
    position: absolute;
    left: 60%;
}
section#title
{
    animation-name: scale;
    animation-duration: 1.5s;
}
section#aboutme
{
    animation-name: uppies;
    animation-duration: 2s;
}
#move4
{
    margin-top: 5%;
    margin-left: 10%;
}
#move5
{
    margin-left: 10%;
}
#move6
{
    margin-left: -2.5%; 
}
#move7
{
    margin-left: 71.5%;
    margin-top: -3%;
}
@keyframes scale 
{
    0%
    {
        opacity: 0%;
        scale: 50%;
    }
    50%
    {
        opacity: 0%;
    }
    100%
    {
        opacity: 100%;
        scale: 100%;
    }
}
@keyframes uppies
{
    0%
    {
        opacity: 0%;
        margin-top: 100%;
    }
    50%
    {
        opacity: 0%;
    }
    100%
    {
        opacity: 100%;
        margin-top: 0%;
    }
}
@keyframes scale-a-lil 
{
    from 
    {
      scale: .5;
    }
}
@media (prefers-reduced-motion: no-preference) 
{
    .post 
    {
        animation: scale-a-lil linear both;
        animation-timeline: view();
        animation-range: 20vh 60vh;
    }
}
